<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Boston Windows & Gutters</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
		<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
		<link href="css/ionicons.css" rel="stylesheet" type="text/css">
		<link href="css/flaticon.css" rel="stylesheet" type="text/css">
		<link href="css/simple-line-icons.css" rel="stylesheet" type="text/css">

		<link href="css/jquery-ui.min.css" type="text/css" rel="stylesheet">
		<link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css">
		<!--Main Slider-->
		<link href="css/settings.css" type="text/css" rel="stylesheet" media="screen">
		<link href="css/layers.css" type="text/css" rel="stylesheet" media="screen">

		<link href="css/style.css" type="text/css" rel="stylesheet">
		<link href="css/index.css" type="text/css" rel="stylesheet">
		<link href="css/header.css" type="text/css" rel="stylesheet">
		<link href="css/footer.css" type="text/css" rel="stylesheet">
		<link href="css/steelblue.css" rel="stylesheet" type="text/css" id="theme-color" />
	</head>
	<body>
		<!--loader-->
		<div id="preloader">
			<div class="sk-circle">
				<div class="sk-circle1 sk-child"></div>
				<div class="sk-circle2 sk-child"></div>
				<div class="sk-circle3 sk-child"></div>
				<div class="sk-circle4 sk-child"></div>
				<div class="sk-circle5 sk-child"></div>
				<div class="sk-circle6 sk-child"></div>
				<div class="sk-circle7 sk-child"></div>
				<div class="sk-circle8 sk-child"></div>
				<div class="sk-circle9 sk-child"></div>
				<div class="sk-circle10 sk-child"></div>
				<div class="sk-circle11 sk-child"></div>
				<div class="sk-circle12 sk-child"></div>
			</div>
		</div>

		<!--loader-->
		<!--Header Section Start Here
		==================================-->
		<header>
			<div class="middel-part__block">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12 d-flex align-items-stretch">
							<div class="logo">
								<a href="/"> <img src="images/bwg_logo.png" alt="Logo"> </a>
							</div>
						</div>
						<div class="col-lg-8 col-md-12">
							<div class="top-info__block text-right">
								<ul>
									<li>
										<i class="fa fa-map-marker"></i>
										<p>
											20 Coolidge Hill Rd <span> Watertown, MA 02472</span>
										</p>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										<p>
											Call Us <span> (781) 308-9242</span>
										</p>
									</li>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<p>
											Mail Us <span> <a href="mailto:bostonwindowsgutters@gmail.com">bostonwindowsgutters@gmail.com</a></span>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main_nav stricky-header__top navbar-toggleable-md">

				<nav class="navbar navbar-default navbar-sticky bootsnav">
					<div class="container">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle hidden-lg-up" data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>

						</div>
						<!-- End Header Navigation -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav mobile-menu">
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/about">About us</a><span class="submenu-button"></span>
									<ul class="dropdown-menu">
										<li>
											<a href="/testimonials">Testimonials</a>
										</li>
										<li>
											<a href="/gallery">Gallery</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/services">Services</a>
								</li>
								<li>
									<a href="/contact">Contact us</a>
								</li>
							</ul>
						</div>
						<!--navbar-collapse -->
					</div>
				</nav>
			</div>
		</header>
		<!--Section End Here-->

		<!-- END HEADER -->

		<!-- star-banner -->
		<!--  Main Banner Start Here-->
		<div class="main-banner">
			<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
				<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
				<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-129">
							<!-- MAIN IMAGE -->
							<img src="images/banner/banner_1.jpg"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-1"
							data-x="['right','right','right','right']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['700','700','700','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text text-right">
									<span>It's an Amazing Services!</span>
									<h2>We Provide Best Mover & Packer Services</h2>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
									</p>
									<a class="btn-text" href="/about"> read more</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-130"   data-title="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="images/banner/banner_2.jpg"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-2"
							data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['700','700','700','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text">
									<span>It's an Amazing Services!</span>
									<h2>We Provide Best Mover & Packer Services</h2>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
									</p>
									<a class="btn-text" href="/about"> read more</a>
								</div>
							</div>

						</li>
						<!-- SLIDE  -->
						<li data-index="rs-131">
							<!-- MAIN IMAGE -->
							<img src="images/banner/banner_3.jpg"  alt=""  class="rev-slidebg" >
							<!-- LAYERS -->

							<!-- LAYER NR. 2 -->
							<div class="tp-caption Newspaper-Title tp-resizeme"
							id="slide-129-layer-3"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							data-fontsize="['50','50','50','30']"
							data-lineheight="['55','55','55','35']"
							data-width="['700','700','700','420']"
							data-height="none"
							data-whitespace="normal"
							data-transform_idle="o:1;"

							data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							data-start="1000"
							data-splitin="none"
							data-splitout="none"
							data-responsive_offset="on" >
								<div class="banner-text text-center">
									<span>It's an Amazing Services!</span>
									<h2>We Provide Best Mover & Packer Services</h2>
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever.
									</p>
									<a class="btn-text" href="/about"> read more</a>
								</div>
							</div>
						</li>
						<!-- SLIDE  -->
					</ul>
					<div class="tp-bannertimer tp-bottom"></div>
				</div>
			</div>
		</div>
		<!--  Main Banner End Here-->

		<!-- About_Compney -->
		<section id="about_us" class="padding ptb-xs-40">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-5 about-left">
						<!-- <h4 class="italic">Welcome To Our</h4> -->
						<div class="sec_hedding text-left mb-30">
							<h2>Boston <span>Windows</span> & Gutters</h2>
							<span class="b-line l-left"></span>
						</div>
						<p>
							If you're looking for a reliable and insured residential window cleaning company to come and clean those dirty house windows, you've come to the right place! 
							All Service Window Cleaning of Boston specializes in professional window cleaning for homes in and around the Boston area. 
							If you're tired of looking through dirty, dusty, pollen-crusted windows, we can help! 
						</p>
						<p>
							Our team of friendly, experienced window cleaners will provide you with the highest quality service. 
							You can trust us to keep your scheduled appointment, stand behind our work, and provide you the best value in window cleaning. 
							Our experienced window cleaners will leave you with visibly, squeaky clean windows!
						</p>

					</div>

					<div class="col-md-12 col-lg-7 mt-sm-30 d-flex align-items-end">
						<div class="row">
							<div class="col-md-6 pic-show mt-xs-30"><img src="images/people1.jpg" alt="">
							</div>
							<div class="col-md-6 pic-show mt-xs-30"><img src="images/people2.jpg" alt="">
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- About_Company_End-->

		<!-- Project Section -->
		<div id="project-section" class="dark-bg clearfix">

			<div class="width-25per dark-bg fl d-flex align-items-center justify-content-center justify-content-md-end ptb-xs-40">
				<div class="light-color plr-20 m-height fr block-width ">
					<div class="block-title mt-40 mb-30">
						<div class="sec_hedding text-left">
							<h2><span>Our</span> Projects</h2>
							<span class="b-line l-left"></span>
						</div>
					</div>
					<div class="block-content">
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
						</p>
							<a href="#!" class="btn-text white-btn mt-15 mb-xs-30">Read More</a>
					</div>
				</div>
			</div>
			<div class="width-75per fl grid">
				<div id="project">
					<div class="items">
						<figure class="effect-goliath">
							<img class="img-responsive" src="images/project/project_home_1.jpg" alt="Photo">
							<figcaption>
								<h2>Boston <span>Windows</span> and <span>Gutters</span></h2>
								<p>
									When Goliath comes out, you should run.
								</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
					<div class="items">
						<figure class="effect-goliath">
							<img class="img-responsive" src="images/project/project_home_2.jpg" alt="Photo">
							<figcaption>
								<h2>Boston <span>Windows</span> and <span>Gutters</span></h2>
								<p>
									When Goliath comes out, you should run.
								</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
					<div class="items">
						<figure class="effect-goliath">
							<img class="img-responsive" src="images/project/project_home_3.jpg" alt="Photo">
							<figcaption>
								<h2>Boston <span>Windows</span> and <span>Gutters</span></h2>
								<p>
									When Goliath comes out, you should run.
								</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
					<div class="items">
						<figure class="effect-goliath">
							<img class="img-responsive" src="images/project/project_home_4.jpg" alt="Photo">
							<figcaption>
								<h2>Boston <span>Windows</span> and <span>Gutters</span></h2>
								<p>
									When Goliath comes out, you should run.
								</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
					<div class="items">
						<figure class="effect-goliath">
							<img class="img-responsive" src="images/project/project_home_5.jpg" alt="Photo">
							<figcaption>
								<h2>Boston <span>Windows</span> and <span>Gutters</span></h2>
								<p>
									When Goliath comes out, you should run.
								</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>

		</div>
		<!-- Project Section -->

		<!-- Service tab Start-->
		<section class="padding ptb-xs-40 gray-bg">
			<div class="container">
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Service</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">

						<a href="#!" class="top-service tab_funct d-flex align-items-center active" data-tab="service-tab">
							<div class="fr-text">
								<img src="images/icon1.png" alt="" />
								<span>Gutter Cleaning</span>
							</div>
						</a>

						<a href="#!" class="top-service tab_funct d-flex align-items-center" data-tab="service-tab-two">
							<div class="fr-text">
								<img src="images/icon2.png" alt="" />
								<span>Window Cleaning</span>
							</div>
						</a>

						<a href="#!" class="top-service tab_funct d-flex align-items-center" data-tab="service-tab-three">
							<div class="fr-text">
								<img src="images/icon3.png" alt="" />
								<span>Exterior Maintenance</span>
							</div>
						</a>

						<a href="#!" class="top-service tab_funct d-flex align-items-center" data-tab="service-tab-fouth">
							<div class="fr-text">
								<img src="images/icon4.png" alt="" />
								<span>Snow Removal</span>
							</div>
						</a>

						<a href="#!" class="top-service tab_funct d-flex align-items-center" data-tab="service-tab-five">
							<div class="fr-text">
								<img src="images/icon5.png" alt="" />
								<span>Landscaping</span>
							</div>
						</a>
					</div>

					<div class="col-lg-8 mt-xs-30">
						<div class="tab-content color-white">
							<div class="service-test plr-20 service-tab mt-sm-30">
								<div class="row">

									<div class="col-lg-12 bg_same">
										<div class="row">
											<div class="col-md-12">
												<img src="images/service/service_1.jpg" alt="" />
											</div>
											<div class="col-md-4 push-md-8 mt-40 mt-xs-20">
												<div class="impotent_point">
													<ul>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>
														<li>
															<i class="ion-chevron-right"></i> Buka amin
														</li>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>

													</ul>
												</div>
											</div>

											<div class="col-md-8 pull-md-4">
												<h4>Gutter Cleaning</h4>
												<p>
													Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make Lorem Ipsum is simply dummy text of the printing and typesetting industry...
												</p>
												<a href="#!" class="btn-text">Read More</a>
											</div>

										

										</div>
									</div>

								</div>
							</div>

							<div class="service-test plr-20 service-tab-two mt-sm-30">
								<div class="row">

									<div class="col-lg-12 bg_same">
										<div class="row">
											<div class="col-md-12">
												<img src="images/service/service_2.jpg" alt="" />
											</div>
											<div class="col-md-4 push-md-8 mt-40 mt-xs-20">
												<div class="impotent_point">
													<ul>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>
														<li>
															<i class="ion-chevron-right"></i> Buka amin
														</li>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>

													</ul>
												</div>
											</div>

											<div class="col-md-8 pull-md-4">
												<h4>Window Cleaning</h4>
												<p>
													Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make Lorem Ipsum is simply dummy text of the printing and typesetting industry...
												</p>
												<a href="#!" class="btn-text">Read More</a>
											</div>


										</div>
									</div>

								</div>
							</div>

							<div class="service-test plr-20 service-tab-three mt-sm-30">
								<div class="row">

									<div class="col-lg-12 bg_same">
										<div class="row">
											<div class="col-md-12">
												<img src="images/service/service_3.jpg" alt="" />
											</div>
											<div class="col-md-4 push-md-8 mt-40 mt-xs-20">
												<div class="impotent_point">
													<ul>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>
														<li>
															<i class="ion-chevron-right"></i> Buka amin
														</li>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>

													</ul>
												</div>
											</div>

											<div class="col-md-8 pull-md-4">
												<h4>Exterior Cleaning & Maintenance</h4>
												<p>
													Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make Lorem Ipsum is simply dummy text of the printing and typesetting industry...
												</p>
												<a href="#!" class="btn-text">Read More</a>
											</div>

											

										</div>
									</div>

								</div>
							</div>

							<div class="service-test plr-20 service-tab-fouth mt-sm-30">
								<div class="row">

									<div class="col-lg-12 bg_same">
										<div class="row">
											<div class="col-md-12">
												<img src="images/service/service_4.jpg" alt="" />
											</div>
											<div class="col-md-4 push-md-8 mt-40 mt-xs-20">
												<div class="impotent_point">
													<ul>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>
														<li>
															<i class="ion-chevron-right"></i> Buka amin
														</li>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>

													</ul>
												</div>
											</div>

											<div class="col-md-8 pull-md-4">
												<h4>Snow Removal</h4>
												<p>
													Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make Lorem Ipsum is simply dummy text of the printing and typesetting industry...
												</p>
												<a href="#!" class="btn-text">Read More</a>
											</div>

											

										</div>
									</div>

								</div>
							</div>

							<div class="service-test plr-20 service-tab-five mt-sm-30">
								<div class="row">

									<div class="col-lg-12 bg_same">
										<div class="row">
											<div class="col-md-12">
												<img src="images/service/service_5.jpg" alt="" />
											</div>
											<div class="col-md-4 push-md-8 mt-40 mt-xs-20">
												<div class="impotent_point">
													<ul>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>
														<li>
															<i class="ion-chevron-right"></i> Buka amin
														</li>
														<li>
															<i class="ion-chevron-right"></i> Labore et dolore
														</li>
														<li>
															<i class="ion-chevron-right"></i> Magna aliqua enim
														</li>

													</ul>
												</div>
											</div>

											<div class="col-md-8 pull-md-4">
												<h4>Landscaping</h4>
												<p>
													Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make Lorem Ipsum is simply dummy text of the printing and typesetting industry...
												</p>
												<a href="#!" class="btn-text">Read More</a>
											</div>

											

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Service tab End-->

		<!--Testimonial Section Start-->
		<section class="testimonial_wrapper__block padding ptb-xs-40">
			<div class="container">
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Testimonial</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="testimonial_carosule-wrap owl-carousel">
							<div class="single_carousel pt-40">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]
								</p>
								<div class="author_img__block">
									<div class="author_tablecell__block">
										<img src="images/author.jpg" class="rounded-circle" alt="">
										<p>
											John Doe <span>CEO</span>
										</p>
									</div>
								</div>
							</div>

							<div class="single_carousel pt-40">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]
								</p>
								<div class="author_img__block">
									<div class="author_tablecell__block">
										<img src="images/author.jpg" class="rounded-circle" alt="">
										<p>
											John Doe <span>CEO</span>
										</p>
									</div>
								</div>
							</div>
							<div class="single_carousel pt-40">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]
								</p>
								<div class="author_img__block">
									<div class="author_tablecell__block">
										<img src="images/author.jpg" class="rounded-circle" alt="">
										<p>
											John Doe <span>CEO</span>
										</p>
									</div>
								</div>
							</div>
							<div class="single_carousel pt-40">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod [..]
								</p>
								<div class="author_img__block">
									<div class="author_tablecell__block">
										<img src="images/author.jpg" class="rounded-circle" alt="">
										<p>
											John Doe <span>CEO</span>
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Testimonial Section End-->

		<!-- Team -->
		<section class="padding ptb-xs-40">
			<div class="container">
				<div class="row text-center mb-30">
					<div class="col-sm-12">
						<div class="sec_hedding">
							<h2><span>Our</span> Team</h2>
							<span class="b-line"></span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3 col-md-6 text-center">
						<div class="team_colume img-scale">
							<div class="team_item">
								<figure>
									<img src="images/team/01.jpg" class="rounded-circle" alt="">
								</figure>
							</div>
							<div class="team_detail mt-10 mt-sm-30 mt-xs-30">
								<h4>Will Smith</h4>
								<span>Ui Developer</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 text-center mt-xs-30">
						<div class="team_colume img-scale d-flex flex-column ">

							<div class="team_item mt-10 flex-lg-last">
								<figure>
									<img src="images/team/02.jpg" class="rounded-circle" alt="">
								</figure>
							</div>
							<div class="team_detail mt-sm-30 mt-xs-30">
								<h4>Will Smith</h4>
								<span>Ui Developer</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 text-center mt-xs-30 mt-sm-30">
						<div class="team_colume img-scale">
							<div class="team_item">
								<figure>
									<img src="images/team/03.jpg" class="rounded-circle" alt="">
								</figure>
							</div>
							<div class="team_detail mt-10 mt-sm-30 mt-xs-30">
								<h4>Will Smith</h4>
								<span>Ui Developer</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 text-center mt-xs-30 mt-sm-30">
						<div class="team_colume img-scale d-flex flex-column ">

							<div class="team_item mt-10 flex-lg-last">
								<figure>
									<img src="images/team/04.jpg" class="rounded-circle" alt="">
								</figure>
							</div>
							<div class="team_detail mt-sm-30 mt-xs-30">
								<h4>Will Smith</h4>
								<span>Ui Developer</span>
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- Team_End -->

		<!-- FOOTER -->
		<footer>
			<div class="top_footer_info__block ptb-20">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="single_info__block">
								<i class="fa fa-phone"></i>
								<h4>(781) 308 9242 <span>Monday-Friday, 8am-5pm</span></h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single_info__block">
								<i class="fa fa-envelope-o"></i>
								<h4>bostonwindowsgutters@gmail.com <span>Monday-Friday, 8am-5pm</span></h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single_info__block">
								<i class="fa fa-bullhorn"></i>
								<h4>Request a quote <span>Get all the information</span></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main_footer__block pb-0 pt-60">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="footer_box__block">
								<h4>About Us</h4>
								<p>
									If you're looking for a reliable and insured residential window cleaning company to come and clean those dirty house windows, you've come to the right place! 
								</p>
								<p>
									All Service Window Cleaning of Boston specializes in professional window cleaning for homes in and around the Boston area. 
									If you're tired of looking through dirty, dusty, pollen-crusted windows, we can help! 
								</p>
							</div>
						</div>
						<div class="col-lg-3 mt-sm-30 mt-xs-30">
							<div class="footer_box__block">
								<h4>Latest Blog Post</h4>
								<ul>
									<li>
										<a href="#">Start your own agency</a>
									</li>
									<li>
										<a href="#">How to cool down quality</a>
									</li>
									<li>
										<a href="#">Make something awesome</a>
									</li>
									<li>
										<a href="#">Plane your summer vacation</a>
									</li>
									<li>
										<a href="#">There are sunlight to enjoy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 mt-xs-30 mt-sm-30">
							<div class="footer_box__block">
								<h4>Our Project</h4>
								<ul>
									<li>
										<a href="#">Go get an ice-cream</a>
									</li>
									<li>
										<a href="#">Become the best version</a>
									</li>
									<li>
										<a href="#">Eat, Sleep and have fun</a>
									</li>
									<li>
										<a href="#">Start the journey to the top</a>
									</li>
									<li>
										<a href="#">Can you do this for us?</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 mt-sm-30 mt-xs-30">
							<div class="footer_box__block address-box">
								<h4>Contact info</h4>
								<ul>
									<li>
										<i class="fa fa-phone"></i>
										<p>
											Call Us (781) 308-9242
										</p>
									</li>
									<li>
										<i class="fa fa-envelope-o"></i>
										<p>
											<a href="mailto:bostonwindowsgutters@gmail.com">bostonwindowsgutters@gmail.com</a>
										</p>
									</li>
									<li>
										<i class="fa fa-map-marker"></i>
										<p>
											20 Coolidge Hill Rd, Watertown, MA 02472
										</p>
									</li>
									<li>
										<i class="fa fa-clock-o"></i>
										<p>
											Monday-Friday, 8am-5pm;
											<br>
											Saturday & Sunday Closed
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="copyriight_block ptb-20 mt-20">
						<div class="row">
							<div class="col-sm-6">
								<a href="/" class="footer__block-logo"><img src="images/bwg_footer_logo.png" alt=""></a>
							</div>
							<div class="col-sm-6 text-right">
								<p>
									All Rights Reserved
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</footer>
		<!-- END FOOTER -->

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/tether.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.js"></script>
		<!-- fancybox Js -->
		<script src="js/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
		<script src="js/jquery.fancybox.pack.js" type="text/javascript"></script>
		<!-- masonry,isotope Effect Js -->
		<script src="js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
		<script src="js/isotope.pkgd.min.js" type="text/javascript"></script>
		<script src="js/masonry.pkgd.min.js" type="text/javascript"></script>
		<script src="js/jquery.appear.js" type="text/javascript"></script>
		<!-- revolution Js -->
		<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
		<script type="text/javascript" src="js/revolution.extension.slideanims.min.js"></script>
		<script type="text/javascript" src="js/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="js/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="js/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="js/jquery.revolution.js"></script>
		<!-- Mail Function Js -->
		<script src="js/validation.js" type="text/javascript"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="js/jquery.appear.js" type="text/javascript"></script>
		<script src="js/custom.js" type="text/javascript"></script>
		<!-- <script src="js/bundle.js" type="text/javascript"></script> -->

	</body>
</html>